<!--suppress HtmlUnknownTarget, JSUnresolvedLibraryURL, ThymeleafVariablesResolveInspection -->
<html lang="en">
<!--suppress HtmlRequiredTitleElement -->
<head th:replace="fragments/global :: head(title='Servers')"></head>

<body>
<div id="page">
    <div th:replace="fragments/global :: sidebar"></div>
    <div class="page-content">
        <div class="content-wrap">
            <div th:replace="fragments/global :: topbar(useSidebar=true)"></div>
            <div class="container">
                <div class="header">System Information</div>
                <div class="details">
                    <div>
                        <span class="name">Version:</span>
                        <span th:text="' ' + ${build.version} + ' ' +  ${build.buildType} + ' ' + ${build.timestamp}"></span>
                        <span th:if="${build.isOutdated} == true">
                            <span th:if="${build.isVeryOutdated()} == true">
                                <span class="mdi mdi-update red tooltip">
                                    <span style="color: red">HIGH SEVERITY</span>
                                     <span class="tooltiptext" style="width: 250px">
                                        Updated strongly recommended. <br>
                                        Your build is very outdated <br>
                                         <a style="text-decoration: none; color: #ccd4ed" target="_blank"
                                            th:href="${build.getUpdateURL}">Update now!</a>
                                    </span>
                                </span>
                            </span>
                            <span th:if="${build.isVeryOutdated()} == false">
                                <span class="mdi mdi-update yellow tooltip">
                                    <span class="tooltiptext" style="width: 200px">
                                        Updated recommended. <br>
                                        <a style="text-decoration: none; color: #ccd4ed" target="_blank"
                                           th:href="${build.getUpdateURL}">Update now!</a>
                                    </span>
                                </span>
                            </span>
                        </span>

                    </div>

                    <div th:each="node : ${nodes}">
                        <span class="name" th:text="${node.node.name} + ':'"></span>
                        <span th:if="${node.build} != null">
                            <span th:text="' ' + ${node.build.version} + ' ' + ${node.build.buildType} + ' ' + ${node.build.timestamp}"></span>
                            <span th:if="${build.isOutdated} == true">
                                <span th:if="${node.build.isVeryOutdated()} == true">
                                    <span class="mdi mdi-update red tooltip">
                                        <span style="color: red">HIGH SEVERITY</span>
                                         <span class="tooltiptext" style="width: 250px">
                                            Updated strongly recommended. <br>
                                            Your build is very outdated <br>
                                             <a style="text-decoration: none; color: #ccd4ed" target="_blank"
                                                th:href="${node.build.getUpdateURL}">Update now!</a>
                                        </span>
                                    </span>
                                </span>
                                <span th:if="${node.build.isVeryOutdated()} == false">
                                    <span class="mdi mdi-update yellow tooltip">
                                        <span class="tooltiptext" style="width: 200px">
                                            Updated recommended. <br>
                                            <a style="text-decoration: none; color: #ccd4ed" target="_blank"
                                               th:href="${node.build.getUpdateURL}">Update now!</a>
                                        </span>
                                    </span>
                                </span>
                            </span>
                        </span>
                        <span class="red" th:if="${node.build} == null">OFFLINE</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div th:replace="fragments/global :: scripts"></div>
<script src="/js/stats.js"></script>
<script>
    addStats();
</script>
</body>
</html>