<!--suppress JSUnresolvedLibraryURL, HtmlUnknownTarget, ThymeleafVariablesResolveInspection, RequiredAttributes -->
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<div class="block" th:fragment="user (user, disablePermissions, enable2FA)">
    <div>
        <div class="header">General details</div>
        <div class="details">
            <div class="setting">
                <label for="id">ID: </label>
                <br>
                <input class="form-control form-manage" disabled="disabled" id="id"
                       th:value="${user.getID()}">
            </div>
            <div class="setting">
                <label for="username">Username: </label>
                <br>
                <input class="form-control form-manage" id="username" th:value="${user.username}">
            </div>
        </div>
    </div>
    <br>
    <div>
        <div class="header">Auth</div>
        <div class="details">
            <div class="setting">
                <label for="password">Password: </label>
                <br>
                <input class="form-control form-manage" id="password" type="password">
            </div>
            <div class="setting">
                <div>2FA:</div>
                <div class="red" th:if="${user.has2FA() == false}">
                    Disabled
                    <span th:if="${enable2FA}">
                        <button class="setting-button save" onclick="enable2FA()"
                                type="button">Enable</button>
                        <div class="overlay block" id="enable2fa">
                            <div class="popup">
                                <h2>Activate 2FA</h2>
                                <a class="close white" href="#">&times;</a>
                                <div class="content light-gray">
                                    Scan the code bellow with Google Authenticator app and enter the field bellow what
                                    OPT code you see in the app.
                                </div>

                                <img alt="google_auth_qr" th:src="@{${user.setup2FA}}">

                                <div>
                                    <label class="light-gray" for="2fa-otp">OTP: </label> <br>
                                    <input class="form-control form-manage" id="2fa-otp"
                                           style="width: 100px; text-align: center;">
                                </div>

                                <button class="setting-button save" id="enable-2fa"
                                        style="width: 150px; margin-top: 15px; margin-left: 0;"
                                        type="button">Confirm
                                </button>
                            </div>
                        </div>
                    </span>
                </div>
                <div class="red" th:if="${user.has2FA() == true}">
                    Enabled
                    <span>
                        <button class="setting-button save" id="disable-2fa"
                                type="button">Disable</button>
                    </span>
                </div>

            </div>
        </div>
    </div>
    <br>

    <div>
        <div class="header">Permissions</div>
        <div class="details">
            <div class="setting">
                <label class="switch">
                    <div class="panel-table"
                         style="background: none !important; box-shadow: none !important;">
                        <table>
                            <tr th:each="permission : ${permissions}">
                                <td class="table-row-permissions">
                                    <span th:text="${permission.getTitle()}"></span>
                                    <span style="color: #505661"
                                          th:text="'(' + ${permission.getDescription()} + ')'"></span>
                                </td>
                                <td class="table-row-permissions">
                                    <div class="checkbox-container yellow">
                                        <input
                                               th:checked="${user.hasPermission(permission)}"
                                               th:disabled="${disablePermissions}"
                                               class="permission-input-update"
                                               th:id="${permission.getName()}"
                                               type="checkbox"/>
                                        <label th:for="${permission.getName()}"></label>
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </div>
                </label>
            </div>
        </div>
    </div>
</div>
