.page-content .page-top-bar .container .right > .active {
    width: auto;
    padding: 0 12px;
    color: #ccd4ed !important;
    font-weight: bold;
    text-decoration: none !important;
    font-size: 14px;
}

.page-content .page-top-bar .container .right > .active {
    margin-right: 20px;
    text-align: center;
    color: #9a9fab;
    background: #1e2026;
    height: 36px;
    line-height: 36px;
    border-radius: 6px;
    box-shadow: 0 10px 15px -3px rgb(0 0 0 / 20%), 0 4px 6px -2px rgb(0 0 0 / 10%);
    -webkit-transition: all .25s ease;
    transition: all .25s ease;
}

.header {
    display: block !important;
    background: #1e2026;
    line-height: 250%;
    color: white;
    height: auto;
    font-size: 22px;
    font-weight: bold;
    border-bottom: 5px solid #2e2f33;
    padding-left: 20px;
}

.details {
    display: block !important;
    background: rgba(30, 32, 38, 0.6);
    height: auto;
    color: #9a9fab;
    line-height: 250%;
    font-size: 14px;
    font-weight: bold;
    padding-left: 40px;
    padding-bottom: 20px;
    padding-top: 10px;
}

.details > div > .name {
    color: white;
}

.red {
    color: red;
}

.red-bg {
    background: red;
}

.yellow {
    color: yellow;
}

.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip .tooltiptext {
    visibility: hidden;
    max-width: 500px;
    background-color: black;
    color: #ffffff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    font-size: 13px;
    position: absolute;
    z-index: 1;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}

.form-manage {
    padding: 7px !important;
    width: 95%;
}

.setting-button {
    padding: 10px;
}

.block {
    display: block !important;
}

.green {
    color: green;
}

.lime {
    color: lime;
}

.lime-bg {
    background: lime;
}

.white {
    color: white;
}

.setting-button {
    color: white;
    width: 90px;
    padding: 10px;
    flex: 1;
    border: none;
    font-size: 15px;
    font-weight: 800;
    border-radius: 8px;
    outline: none !important;
    cursor: pointer;
    margin-left: 20px;
}

.save {
    background: lime;
}

.reset {
    background: #1e2026;
}

.create-button {
    text-align: center;
    color: #9a9fab;
    background: #1e2026;
    height: 36px;
    line-height: 36px;
    border-radius: 6px;
    box-shadow: 0 10px 15px -3px rgb(0 0 0 / 20%), 0 4px 6px -2px rgb(0 0 0 / 10%);
    -webkit-transition: all .25s ease;
    transition: all .25s ease;
    padding: 0 12px;
    text-decoration: none;
    font-weight: bold;
}

.clickable {
    cursor: pointer;
    text-decoration: none;
}

.table-row-permissions {
    padding: 12px 50px !important;
}

.light-gray {
    color: #505661
}

.light-gray-bg {
    background: #505661
}

.console-input {
    color: white;
    padding: 10px;
    background: #0f1116;
    border: 2px solid #1c1f26 !important;
    border-radius: 10px;
    font-size: 13px;
}

.console-input input {
    background: rgb(0, 0, 0, 0);
    border: 0;
    border-radius: 8px;
    color: white;
    outline: none !important;
    width: 98%;
}

#console-iframe {
    margin: 0;
    padding: 0;
    border: 0;
    height: 450px;
    width: 100%;
    border-radius: 10px;
    background: #090a0d;
}

.console-body {
    background: none transparent;
    color: white;
}

.center {
    display: flex;
    justify-content: center;
}