<!--suppress HtmlRequiredTitleElement -->
<html lang="en">
<head th:replace="fragments/global :: head(title='Servers')"></head>
<body>
<div id="page">
    <div class="page-content">
        <div class="content-wrap">
            <div th:replace="fragments/global :: topbar(useSidebar=false)"></div>
            <div class="container">
                <div class="block">
                    <div class="header">General details</div>
                    <div class="details">
                        <div class="setting">
                            <label for="id">ID: </label>
                            <br>
                            <input class="form-control form-manage" id="id">
                        </div>
                        <div class="setting">
                            <label for="name">Name: </label>
                            <br>
                            <input class="form-control form-manage" id="name">
                        </div>
                    </div>
                </div>
                <br>
                <div class="block">
                    <div class="header">Access</div>
                    <div class="details">
                        <div class="setting">
                            <label for="node">Node: </label>
                            <br>
                            <select class="form-control form-manage" id="node">
                                <option th:each="node: ${nodes}" th:value="${node.getID()}" th:text="${node.name}"></option>
                            </select>
                        </div>
                        <div class="setting">
                            <label for="path">Path: </label>
                            <br>
                            <input class="form-control form-manage" id="path">
                        </div>
                        <div class="setting">
                            <label for="port">Port: </label>
                            <br>
                            <input class="form-control form-manage" id="port">
                        </div>
                    </div>
                </div>
                <br>
                <div class="block">
                    <div class="header">Java</div>
                    <div class="details">
                        <div class="setting">
                            <label for="java">Java Version: </label>
                            <br>
                            <select class="form-control form-manage" id="java">
                                <option value="JDK_8">JDK_8</option>
                                <option value="JDK_11">JDK_11</option>
                                <option value="JDK_16">JDK_16</option>
                                <option value="JDK_17">JDK_17</option>
                            </select>
                        </div>
                        <div class="setting">
                            <label for="ram">Max RAM: </label>
                            <br>
                            <input class="form-control form-manage" id="ram">
                        </div>
                        <div class="setting">
                            <label for="server_jar">Server jar: </label>
                            <br>
                            <input class="form-control form-manage" id="server_jar">
                        </div>
                        <div class="setting">
                            <label for="args">Args: </label>
                            <br>
                            <input class="form-control form-manage" id="args">
                        </div>
                        <div class="setting">
                            <label for="start_if_offline">Start if Offline: </label>
                            <br>
                            <select class="form-control form-manage" id="start_if_offline">
                                <option value="true">Yes</option>
                                <option value="false">No</option>
                            </select>
                        </div>
                    </div>
                </div>
                <br>
                <button class="setting-button save" id="create" type="button">Create</button>
                <button class="setting-button reset" id="reset" type="button">Reset</button>
            </div>
        </div>
    </div>
</div>
<div th:replace="fragments/global :: scripts"></div>
<script src="/js/server.js"></script>
<script>
    let element = document.getElementById("sftp-url");
    let url = element.innerText;

    console.log("innerText: " + element.innerText);
    console.log("url: " + url);
    console.log("username: " + user.username);
    url = url.replace("%username%", user.username);
    console.log("url: " + url);

    element.innerText = url;
    console.log("innerText: " + element.innerText);
</script>
</body>
</html>