<!--suppress HtmlUnknownTarget, JSUnresolvedLibraryURL, ThymeleafVariablesResolveInspection -->
<html lang="en">
<!--suppress HtmlRequiredTitleElement -->
<head th:replace="fragments/global :: head(title='Servers')"></head>

<body>
<div id="page">
    <div class="page-content">
        <div class="content-wrap">
            <div th:replace="fragments/global :: topbar(useSidebar=false)"></div>
            <div class="container">
                <div style="display: flex; justify-content: flex-end">
                    <a class="create-button clickable" href="/admin/server/create">
                        <span class="mdi mdi-server-plus"></span>
                        Create Server
                    </a>
                </div>
                <div class="panel-table">
                    <table>
                        <tr class="grid-card clickable" th:each="server : ${servers}"
                            th:onclick="redirect('/server/[[${server.id}]]')">
                            <span class="server_id" th:th:classappend="${server.id}"></span>
                            <td class="circle-icon">
                                <div class="server-icon"><i class="mdi mdi-server"></i></div>
                            </td>
                            <td class="server-name">
                                <div class="s-label">Name</div>
                                <div class="sn-l" th:text="${server.name}"></div>
                                <div class="s-label" th:text="'(' + ${server.node.name} + ')'"></div>
                            </td>
                            <td class="server-type">
                                <div class="s-label">Server</div>
                                <i class="mdi mdi-database"></i>
                                <span th:text="${server.node.name} + ':' + ${server.port}"></span>
                            </td>
                            <td class="processor">
                                <div class="s-label">CPU</div>
                                <i class="mdi mdi-memory"></i>
                                <span class="cpu_usage" th:th:classappend="${server.id}">
                                   Loading...
                                </span>
                            </td>
                            <td class="ram">
                                <div class="s-label">RAM</div>
                                <i class="mdi mdi-chip"></i>
                                <span class="memory_usage" th:th:classappend="${server.id}">
                                   Loading...
                                </span>
                                <span>
                                    /
                                </span>
                                <span class="memory_allocation" th:th:classappend="${server.id}">
                                   Loading...
                                </span>
                            </td>
                            <td class="storage">
                                <div class="s-label">Storage</div>
                                <i class="mdi mdi-cloud"></i>
                                <span class="storage_usage" th:th:classappend="${server.id}">
                                   Loading...
                                </span>
                            </td>
                            <td class="status">
                                <span class="in_online" th:th:classappend="${server.id}">
                                   Loading...
                                </span>
                            </td>
                        </tr>

                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<div th:replace="fragments/global :: scripts"></div>
<script src="/js/stats.js"></script>
<script>
    addStats();
</script>
</body>
</html>