<!--suppress HtmlRequiredTitleElement, ThymeleafVariablesResolveInspection -->
<html lang="en">
<head th:replace="fragments/global :: head(title='Servers')"></head>
<body>
<div id="page">
    <div class="page-content">
        <div class="content-wrap details-wrap">
            <div th:replace="fragments/global :: topbar(useSidebar=false)"></div>
            <div th:replace="fragments/server :: topbar"></div>
            <div class="container">
                <div class="sidebar">
                    <div class="panel panel-default">
                        <div class="panel-heading" style="padding-top: 25px;"><i class="mdi mdi-server"></i>
                            <span hidden id="server-id" th:text="${server.getID()}"></span>
                            <span th:text="${server.name}"></span>
                            <span id="status"></span>
                            <span class="status-label" id="online-status" style="margin-right: -30px">
                                <span class="status-label light-gray-bg">Loading...</span>
                            </span>
                        </div>
                        <!-- TODO: Add the hosting details host:port -->
                        <!-- TODO: Add the node Details Node: node -->
                        <div class="panel-body">
                            <div class="panel-features">
                                <div class="pf">
                                    <i class="mdi mdi-database-outline"></i>
                                    <div class="pf-text">
                                        <div class="pf-value" id="ram-usage">Loading...</div>
                                        <div class="pf-label">Out of</div>
                                        <span id="ram-allocation">Loading...</span>
                                    </div>
                                </div>
                                <div class="pf">
                                    <i class="mdi mdi-speedometer"></i>
                                    <div class="pf-text">
                                        <div class="pf-value" id="cpu-usage">Loading...</div>
                                        <div class="pf-label">CPU Usage</div>
                                    </div>
                                </div>
                            </div>
                            <div class="panel-features" style="padding-bottom: 20px">
                                <div class="block"
                                     style="color:white; font-weight: 100; font-size: 17px; padding-left: 25px;">
                                    <div style="padding-top: 10px">
                                        <i class="mdi mdi-lan-connect"></i>
                                        <b>Host:&nbsp;&nbsp;&nbsp;</b>
                                        <span th:text="${server.node.ip} + ':' + ${server.port}"></span>
                                    </div>

                                    <div style="padding-top: 10px">
                                        <i class="mdi mdi-server"></i>
                                        <b>Node:&nbsp;&nbsp;</b>
                                        <span th:text="${server.node.name}"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default panel-controls">
                        <button class="p-btn" id="start">Start</button>
                        <button class="p-btn" id="stop">Stop</button>
                        <button class="p-btn kill" id="kill">Kill</button>
                    </div>
                    <span hidden id="sftp-url" th:text="${server.getSFTPUrl()}"></span>

                    <!--
                    <div class="panel panel-default" id="sftp"
                         onclick="openTab(document.getElementById('sftp-url').innerText)">
                        SFTP
                        <div class="sf-small">Browse Files</div>
                    </div>
                    -->
                </div>
                <div class="content">
                    <div id="console">
                        <div class="panel panel-default">
                            <div class="panel-heading"><i class="mdi mdi-console"></i>Console</div>
                            <iframe
                                    allowtransparency="true"
                                    id="console-iframe"
                                    th:src="@{'/server/console/' + ${server.getID()}}">
                            </iframe>
                        </div>
                        <div class="console-input">
                            <span>> </span>
                            <label for="console-input"></label>
                            <input id="console-input" type="text">
                        </div>
                    </div>
                    <div id="stats-ram">
                        <div class="panel panel-default">
                            <div class="panel-heading"><i class="mdi mdi-database-outline"></i>Memory Usage</div>
                            <div class="panel-body"
                                 style="background: #090a0d; font-size: 24px; height: 200px; position: relative;">
                                <div class="chart-placeholder center"
                                     style="width: 50px; height: 50px; background: none transparent; position: absolute; top: 50%; left: 50%; margin: -25px 0 0 -25px;">
                                    SOON™
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="stats-cpu">
                        <div class="panel panel-default">
                            <div class="panel-heading"><i class="mdi mdi-speedometer"></i>CPU Usage</div>
                            <div class="panel-body"
                                 style="background: #090a0d; font-size: 24px; height: 200px; position: relative;">
                                <div class="chart-placeholder center"
                                     style="width: 50px; height: 50px; background: none transparent; position: absolute; top: 50%; left: 50%; margin: -25px 0 0 -25px;">
                                    SOON™
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div th:replace="fragments/global :: scripts"></div>
<script src="/js/console.js"></script>
<script src="/js/stats.js"></script>
<script src="/js/server_manager.js"></script>
<script>
        let element = document.getElementById("sftp-url");
        let url = element.innerText;

        console.log("innerText: " + element.innerText);
        console.log("url: " + url);
        console.log("username: " + user.username);
        url = url.replace("%username%", user.username);
        console.log("url: " + url);

        element.innerText = url;
        console.log("innerText: " + element.innerText);
</script>
<script>
    addStatsServerDetails()
</script>
</body>
</html>