<!--suppress HtmlRequiredTitleElement, ThymeleafVariablesResolveInspection -->
<html lang="en">
<head th:replace="fragments/global :: head(title='Servers')"></head>
<body>
<div id="page">
    <div class="page-content">
        <div class="content-wrap">
            <div th:replace="fragments/global :: topbar(useSidebar=false)"></div>
            <div th:replace="fragments/server :: topbar"></div>
            <div class="container">
                <div class="block">
                    <div class="header">General details</div>
                    <div class="details">
                        <div class="setting">
                            <label for="id">ID: </label>
                            <br>
                            <input class="form-control form-manage" disabled="disabled" id="id"
                                   th:value="${server.getID()}">
                        </div>
                        <div class="setting">
                            <label for="name">Name: </label>
                            <br>
                            <input class="form-control form-manage" id="name" th:value="${server.name}">
                        </div>
                    </div>
                </div>
                <br>
                <div class="block">
                    <div class="header">Access</div>
                    <div class="details">
                        <div class="setting">
                            <label for="node">Node: </label>
                            <br>
                            <select class="form-control form-manage" disabled id="node">
                                <option selected
                                        th:each="node: ${nodes}"
                                        th:if="${server.node.getID()==node.getID()}"
                                        th:text="${node.name}"
                                        th:value="${node.getID()}"></option>

                                <option th:each="node: ${nodes}"
                                        th:if="${server.node.getID()!=node.getID()}"
                                        th:text="${node.name}"
                                        th:value="${node.getID()}"></option>
                            </select>
                        </div>
                        <div class="setting">
                            <label for="path">Path: </label>
                            <br>
                            <input class="form-control form-manage" id="path" th:value="${server.path}">
                        </div>
                        <div class="setting">
                            <label for="port">Port: </label>
                            <br>
                            <input class="form-control form-manage" id="port" th:value="${server.port}">
                        </div>
                    </div>
                </div>
                <br>
                <div class="block">
                    <div class="header">Java</div>
                    <div class="details">
                        <div class="setting">
                            <label for="java">Java Version: </label>
                            <br>
                            <select class="form-control form-manage" id="java">
                                <option selected th:if="${server.java} == 'JDK_8'" value="JDK_8">JDK_8</option>
                                <option th:if="${server.java} != 'JDK_8'" value="JDK_8">JDK_8</option>
                                <option selected th:if="${server.java} == 'JDK_11'" value="JDK_11">JDK_11</option>
                                <option th:if="${server.java} != 'JDK_11'" value="JDK_11">JDK_11</option>
                                <option selected th:if="${server.java} == 'JDK_16'" value="JDK_16">JDK_16</option>
                                <option th:if="${server.java} != 'JDK_16'" value="JDK_16">JDK_16</option>
                                <option selected th:if="${server.java} == 'JDK_17'" value="JDK_17">JDK_17</option>
                                <option th:if="${server.java} != 'JDK_17'" value="JDK_17">JDK_17</option>
                            </select>
                        </div>
                        <div class="setting">
                            <label for="ram">Max RAM: </label>
                            <br>
                            <input class="form-control form-manage" id="ram" th:value="${server.ram}">
                        </div>
                        <div class="setting">
                            <label for="server_jar">Server jar: </label>
                            <br>
                            <input class="form-control form-manage" id="server_jar" th:value="${server.serverJar}">
                        </div>
                        <div class="setting">
                            <label for="args">Args: </label>
                            <br>
                            <input class="form-control form-manage" id="args" th:value="${server.args}">
                        </div>
                        <div class="setting">
                            <label for="start_if_offline">Start if Offline: </label>
                            <br>
                            <select class="form-control form-manage" id="start_if_offline">
                                <option selected th:if="${server.startIfOffline} == true" value="true">Yes</option>
                                <option th:if="${server.startIfOffline} == false" value="true">Yes</option>
                                <option selected th:if="${server.startIfOffline} == false" value="false">No</option>
                                <option th:if="${server.startIfOffline} == true" value="false">No</option>
                            </select>
                        </div>
                    </div>
                </div>
                <br>
                <button class="setting-button save" id="save" type="button">Save</button>
                <button class="setting-button reset" id="reset" type="button">Reset</button>
                <!-- <button class="setting-button red-bg" id="delete" type="button">Delete</button> -->
                <button class="setting-button red-bg" onclick="location.href='#delete-confirmation'">Delete</button>

                <div class="overlay block" id="delete-confirmation">
                    <div class="popup">
                        <h2>Confirm Deleting</h2>
                        <a class="close white" href="#">&times;</a>
                        <div class="content">
                            This action will delete the node from the panel.
                        </div>
                        <button class="setting-button red-bg" id="delete" style="width: 150px; margin-top: 15px"
                                type="button">Confirm Delete
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div th:replace="fragments/global :: scripts"></div>
<script src="/js/server.js"></script>
<script>
    let element = document.getElementById("sftp-url");
    let url = element.innerText;

    console.log("innerText: " + element.innerText);
    console.log("url: " + url);
    console.log("username: " + user.username);
    url = url.replace("%username%", user.username);
    console.log("url: " + url);

    element.innerText = url;
    console.log("innerText: " + element.innerText);
</script>
</body>
</html>