<!--suppress HtmlUnknownTarget, JSUnresolvedLibraryURL, ThymeleafVariablesResolveInspection -->
<html lang="en">
<!--suppress HtmlRequiredTitleElement -->
<head th:replace="fragments/global :: head(title='Servers')"></head>

<body>
<div id="page">
    <div th:replace="fragments/global :: sidebar"></div>
    <div class="page-content">
        <div class="content-wrap">
            <div th:replace="fragments/global :: topbar(useSidebar=true)"></div>
            <div class="container">
                <div style="display: flex; justify-content: flex-end">
                    <a class="create-button clickable" href="/admin/node/create">
                        <span class="mdi mdi-server-plus"></span>
                        Create Node
                    </a>
                </div>
                <div class="panel-table">
                    <table>
                        <tr class="grid-card clickable" th:each="node : ${nodes}"
                            th:onclick="redirect('/admin/node/[[${node.id}]]')">

                            <td class="circle-icon">
                                <div class="server-icon"><i class="mdi mdi-server"></i></div>
                            </td>
                            <td class="server-name">
                                <div class="s-label">Name</div>
                                <div class="sn-l" th:utext="${node.name}"></div>
                            </td>
                            <td class="server-type">
                                <div class="s-label">Servers</div>
                                <div style="text-align: center">
                                    <i class="sn-l mdi mdi-database"></i>
                                    <span class="sn-l" th:utext="${node.getServers.size}"></span>
                                </div>
                            </td>
                            <td class="status">
                                <div class="sn-l">
                                    <div class="bar"
                                         style="background: #8bc34a !important; box-shadow: 0 0 10px #8bc34a !important; "
                                         th:if="${node.isOnline == true}"></div>
                                    <div class="bar"
                                         style="background: #f44336 !important; box-shadow: 0 0 10px #f44336 !important; "
                                         th:if="${node.isOnline == false}"></div>
                                </div>
                            </td>
                        </tr>

                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<div th:replace="fragments/global :: scripts"></div>
</body>
</html>