<!--suppress HtmlUnknownTarget, JSUnresolvedLibraryURL, ThymeleafVariablesResolveInspection -->
<html lang="en">
<!--suppress HtmlRequiredTitleElement -->
<head th:replace="fragments/global :: head(title='Servers')"></head>

<body>
<div id="page">
    <div th:replace="fragments/global :: sidebar"></div>
    <div class="page-content">
        <div class="content-wrap">
            <div th:replace="fragments/global :: topbar(useSidebar=true)"></div>
            <div class="container">
                <div class="block">
                    <div class="header">General details</div>
                    <div class="details">
                        <div class="setting">
                            <label for="id">ID: </label>
                            <br>
                            <input class="form-control form-manage" disabled="disabled" id="id"
                                   th:value="${node.getID()}">
                        </div>
                        <div class="setting">
                            <label for="name">Name: </label>
                            <br>
                            <input class="form-control form-manage" id="name" th:value="${node.name}">
                        </div>
                    </div>
                </div>
                <br>
                <div class="block">
                    <div class="header">Access</div>
                    <div class="details">
                        <div class="setting">
                            <label for="ip">IP: </label>
                            <br>
                            <input class="form-control form-manage" id="ip" th:value="${node.ip}">
                        </div>
                    </div>
                </div>
                <br>
                <div class="block">
                    <div class="header">Auth</div>
                    <div class="details">
                        <div class="setting">
                            <label for="username">Unix Username: </label>
                            <br>
                            <input class="form-control form-manage" id="username" th:value="${node.username}">
                        </div>
                        <div class="setting">
                            <label for="ssh_port">SSH Port: </label>
                            <br>
                            <input class="form-control form-manage" id="ssh_port" th:value="${node.sshPort}">
                        </div>
                        <div class="setting">
                            <label for="sftp_port">SFTP Port: </label>
                            <br>
                            <input class="form-control form-manage" id="sftp_port" th:value="${node.sftpPort}">
                        </div>
                    </div>
                </div>
                <br>
                <button class="setting-button save" id="save" type="button">Save</button>
                <button class="setting-button reset" id="reset" type="button">Reset</button>
                <!-- <button class="setting-button red-bg" id="delete" type="button">Delete</button> -->
                <button class="setting-button red-bg" onclick="location.href='#delete-confirmation'">Delete</button>

                <div class="overlay block" id="delete-confirmation">
                    <div class="popup">
                        <h2>Confirm Deleting</h2>
                        <a class="close white" href="#">&times;</a>
                        <div class="content">
                            This action will delete the node from the panel.
                        </div>
                        <button class="setting-button red-bg" id="delete" style="width: 150px; margin-top: 15px"
                                type="button">Confirm Delete
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div th:replace="fragments/global :: scripts"></div>
<script src="/js/node.js"></script>
</body>
</html>