<!--suppress HtmlRequiredTitleElement, ThymeleafVariablesResolveInspection, HtmlFormInputWithoutLabel -->
<html lang="en">
<head th:replace="fragments/global :: head(title='Servers')"></head>
<body>
<div id="page">
    <div hidden id="id" th:text="${server.getID()}"></div>

    <div class="page-content">
        <div class="content-wrap">
            <div th:replace="fragments/global :: topbar(useSidebar=false)"></div>
            <div th:replace="fragments/server :: topbar"></div>
            <div class="container">
                <div style="display: flex; justify-content: flex-end; margin-bottom: 30px">
                    <a class="create-button clickable" href="#add-user-popup">
                        <span class="mdi mdi-server-plus"></span>
                        Add User
                    </a>
                </div>

                <div class="overlay block" id="add-user-popup">
                    <div class="popup">
                        <h2>Add new User</h2>
                        <a class="close white" href="#">&times;</a>
                        <div class="content">
                            Type the username of the user you want to add. By default, the user added does not have any
                            additional permissions. You will have to
                            add the permissions manually after this
                        </div>
                        <br><br>
                        <label class="light-gray" for="username"
                               style="color: white; font-weight: 600;">Username: </label>
                        <br><br>
                        <input class="form-control form-manage" id="username"
                               style="width: 100%; text-align: center;">

                        <div class="panel-table"
                             style="background: none !important; box-shadow: none !important;">
                            <table>
                                <tr th:each="permission : ${permissions}">
                                    <td class="table-row-permissions">
                                        <span th:text="${permission.getTitle()}"></span>
                                        <span style="color: #505661"
                                              th:text="'(' + ${permission.getDescription()} + ')'"></span>
                                    </td>
                                    <td class="table-row-permissions">
                                        <div class="checkbox-container yellow">
                                            <input class="permission-input"
                                                   th:id="${permission.getName()+ '_new'}"
                                                   type="checkbox"/>
                                            <label th:for="${permission.getName()+ '_new'}"></label>
                                        </div>
                                    </td>
                                </tr>
                            </table>
                        </div>

                        <br>

                        <button class="setting-button lime-bg" id="add-user"
                                style="width: 150px; margin-top: 15px; margin-left: 0"
                                type="button">Add
                        </button>
                    </div>
                </div>

                <div class="block" th:each="user : ${users}">
                    <div class="header">
                        <span th:text="${user.username}"></span>
                        <button class="setting-button red-bg" th:onclick="'removePermission(' + ${user.getID()} + ')'">
                            Remove
                        </button>
                    </div>
                    <div class="details">
                        <div class="panel-table"
                             style="background: none !important; box-shadow: none !important;">
                            <table>
                                <tr th:each="permission : ${permissions}">
                                    <td class="table-row-permissions">
                                        <span th:text="${permission.getTitle()}"></span>
                                        <span style="color: #505661"
                                              th:text="'(' + ${permission.getDescription()} + ')'"></span>
                                    </td>
                                    <td class="table-row-permissions">
                                        <div class="checkbox-container yellow">
                                            <input checked
                                                   class="permission-input-update"
                                                   th:id="${permission.getName()+ '__' + user.getID()}"
                                                   th:if="${user.hasPermission(server.getID(), permission.getName())}"
                                                   type="checkbox"/>
                                            <input class="permission-input-update"
                                                   th:id="${permission.getName()+ '__' + user.getID()}"
                                                   th:if="${!user.hasPermission(server.getID(), permission.getName())}"
                                                   type="checkbox"/>
                                            <label th:for="${permission.getName()+ '__'  + user.getID()}"></label>
                                        </div>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <br>
                </div>
                <br>
                <button class="setting-button save" id="save" type="button">Save</button>
                <button class="setting-button reset" id="reset" type="button">Reset</button>

            </div>
        </div>
    </div>
</div>
<div th:replace="fragments/global :: scripts"></div>
<script src="/js/server.js"></script>
<script src="/js/permissions.js"></script>
<script>
    let element = document.getElementById("sftp-url");
    let url = element.innerText;

    console.log("innerText: " + element.innerText);
    console.log("url: " + url);
    console.log("username: " + user.username);
    url = url.replace("%username%", user.username);
    console.log("url: " + url);

    element.innerText = url;
    console.log("innerText: " + element.innerText);
</script>
</body>
</html>