<!--suppress HtmlUnknownTarget, JSUnresolvedLibraryURL, ThymeleafVariablesResolveInspection -->
<html lang="en">
<!--suppress HtmlRequiredTitleElement -->
<head th:replace="fragments/global :: head(title='Servers')"></head>

<body>
<div id="page">
    <div th:replace="fragments/global :: sidebar"></div>
    <div class="page-content">
        <div class="content-wrap">
            <div th:replace="fragments/global :: topbar(useSidebar=true)"></div>
            <div class="container">
                <div class="block">
                    <div class="header">General details</div>
                    <div class="details">
                        <div class="setting">
                            <label for="username">Username: </label>
                            <br>
                            <input class="form-control form-manage" id="username">
                        </div>
                    </div>
                </div>
                <br>
                <div class="block">
                    <div class="header">Auth</div>
                    <div class="details">
                        <div class="setting">
                            <label for="password">Password: </label>
                            <br>
                            <input class="form-control form-manage" id="password" type="password">
                        </div>
                    </div>
                </div>

                <br>

                <div class="block">
                    <div class="header">Permissions</div>
                    <div class="details">
                        <div class="setting">
                            <label class="switch">
                                <div class="panel-table"
                                     style="background: none !important; box-shadow: none !important;">
                                    <table>
                                        <tr th:each="permission : ${permissions}">
                                            <td class="table-row-permissions">
                                                <span th:text="${permission.getTitle()}"></span>
                                                <span style="color: #505661"
                                                      th:text="'(' + ${permission.getDescription()} + ')'"></span>
                                            </td>
                                            <td class="table-row-permissions">
                                                <div class="checkbox-container yellow">
                                                    <input class="permission-input"
                                                           th:id="${permission.getName()}"
                                                           type="checkbox"/>
                                                    <label th:for="${permission.getName()}"></label>
                                                </div>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </label>
                        </div>
                    </div>
                </div>

                <br>
                <button class="setting-button save" id="create" type="button">Create</button>
                <button class="setting-button reset" id="reset" type="button">Reset</button>
            </div>
        </div>
    </div>
</div>
<div th:replace="fragments/global :: scripts"></div>
<script src="/js/user.js"></script>
<script>
    userTemplate();
</script>
</body>
</html>