<!--suppress JSUnresolvedLibraryURL, ThymeleafVariablesResolveInspection -->
<html lang="en">
<!--suppress HtmlRequiredTitleElement -->
<head th:replace="fragments/global :: head(title='Servers')"></head>

<body>
<div id="page">
    <div th:replace="fragments/global :: sidebar"></div>
    <div class="page-content">
        <div class="content-wrap">
            <div th:replace="fragments/global :: topbar(useSidebar=true)"></div>
            <div class="container">
                <div th:replace="fragments/user :: user (user=${user}, disablePermissions=false, enable2FA=false)"></div>
                <br>
                <button class="setting-button save" id="save" type="button">Save</button>
                <button class="setting-button reset" id="reset" type="button">Reset</button>
                <button class="setting-button red-bg" onclick="location.href='#delete-confirmation'">Delete</button>

                <div class="overlay block" id="delete-confirmation">
                    <div class="popup">
                        <h2>Confirm Deleting</h2>
                        <a class="close white" href="#">&times;</a>
                        <div class="content">
                            This action will delete the node from the panel.
                        </div>
                        <button class="setting-button red-bg" id="delete" style="width: 150px; margin-top: 15px"
                                type="button">Confirm Delete
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div th:replace="fragments/global :: scripts"></div>
<script src="/js/user.js"></script>
</body>
</html>