<!--suppress HtmlUnknownTarget, JSUnresolvedLibraryURL, ThymeleafVariablesResolveInspection -->
<html lang="en">
<!--suppress HtmlRequiredTitleElement -->
<head th:replace="fragments/global :: head(title='Servers')"></head>

<body>
<div id="page">
    <div th:replace="fragments/global :: sidebar"></div>
    <div class="page-content">
        <div class="content-wrap">
            <div th:replace="fragments/global :: topbar(useSidebar=true)"></div>
            <div class="container">
                <div style="display: flex; justify-content: flex-end">
                    <a class="create-button clickable" href="/admin/user/create">
                        <span class="mdi mdi-server-plus"></span>
                        Create User
                    </a>
                </div>

                <div class="panel-table">
                    <table>
                        <tr class="grid-card clickable" th:each="user : ${users}"
                            th:onclick="redirect('/admin/user/[[${user.getID()}]]')">
                            <td class="circle-icon">
                                <div class="server-icon"><i class="mdi mdi-account"></i></div>
                            </td>
                            <td>
                                <div class="s-label">Username</div>
                                <div class="sn-l" th:utext="${user.username}"></div>
                            </td>
                            <td>
                                <div class="s-label">2FA</div>
                                <div class="lime center" th:if="${user.has2FA() == true}">
                                    <i class="sn-l mdi mdi-account-lock"></i> Active
                                </div>
                                <div class="red center" th:if="${user.has2FA() == false}">
                                    <i class="sn-l mdi mdi-account-lock"></i> Inactive
                                </div>
                            </td>
                            <td>
                                <div class="s-label">Servers</div>
                                <div class="center" th:text="${user.getServers().size()}"></div>
                            </td>
                        </tr>

                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<div th:replace="fragments/global :: scripts"></div>
</body>
</html>